{{ $style := resources.Get "style.scss" | toCSS | minify | fingerprint }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="{{ $style.Permalink }}">
<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Literata:300,400,700&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="OOTB-icon.png">
<link rel="icon" type="image/png" href="/OOTB-icon.png">
<title>
    {{ block "title" . }} {{ .Site.Title }} {{ end }}
</title>
<script src="https://kit.fontawesome.com/d5536db578.js"></script>