{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<article>
<h1 class="title is-1 no-top-margin">{{ .Title }}</h1>
{{ if .Params.Subtitle }}
<h2 class="subtitle is-3 has-text-grey-light has-text-weight-normal">{{ .Params.Subtitle }}</h2>
{{ end }}{{ $tags := apply .Params.tags "printf" "#%s" "." }}
<p class="is-uppercase has-text-grey has-bottom-margin is-size-small has-letter-spacing has-text-weight-light">{{ .PublishDate.Format "January 2006" }}  ・ {{ .ReadingTime }} mins{{if $tags }}  ・  {{ delimit $tags "  " }}{{end}}</p>
<div class="content">
  {{ .Content }}
</div>
</article>
  <hr>
  {{ partial "tags.html" . }}
  {{ partial "related.html" . }}
  <a href="#" title="Top of page">Back to top {{ emojify ":point_up:" }}</a>
  <div class="readingProgress" id="readingProgress"></div>
  {{ $readingProgressScript := resources.Get "js/readingBar.js" | minify | fingerprint }}
  <script src="{{ $readingProgressScript.Permalink }}"></script>
{{ end }}